n8n_part/TTS_potcast.json
{
  "name": "TTS 변환스크립트",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        20,
        -160
      ],
      "id": "1731a9ff-1b21-47a3-8058-dda6166e6567",
      "name": "다운로드",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "J8lL23JM7UuZlYns",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17-thinking",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        460,
        -160
      ],
      "id": "89c9e6ec-4ea6-4c98-abec-2ff1d24fad01",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Fjo0QL2b4Lrx7i8X",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"conversation\":\"스크립트\",\n\"speaker1\":\"두치\",\n\"speaker2\":\"뿌꾸\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        460,
        -140
      ],
      "id": "b824c2af-4a41-493c-be61-ad3fba7e6172",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=## Role \n유능한 팟캐스트 작가입니다. 두명의 대사를 아주 재밌게 지어냅니다.\n\n## 입력 규칙\n- SRT/VTT 자막 파일 (타임스탬프/번호 제거된 순수 텍스트) \n- 두명의 대화를 생성합니다. ('두치'와 '뿌꾸')\n\n**## 처리 절차**  \n1. **대화 흐름**:  \n- 자연스럽게 소개하며 시작합니다. \n- 전반적인 대화의 흐름을 매끄럽게 이어나갑니다.\n\n2. **대사 최적화**:  \n- 필러 워드(음, 아, 그) 90% 제거\n- 문장 경계에서 자연스러운 연결 보장\n- 세그먼트 당 3문장/15초 분량 압축\n\n\n3. **출력 제한**:  \n- 반드시 JSON 배열 출력  \n- 외부 내용 추가 금지  \n- 원본 의미 훼손 시 경고 없이 거부  \n\n**## 음성 유형 참고\nTTS the following conversation between 두치 and 뿌꾸:\n\n\"두치: 안녕하세요! 인공지능의 모든 것을 파헤치는 AI 인사이트, 두치입니다.\n뿌꾸: 안녕하세요, AI 전문가 뿌꾸입니다. 오늘도 흥미로운 AI 소식들로 찾아왔습니다.\"\n\n# 출력예시\n{\n\"conversation\":\"두치: 안녕하세요! 인공지능의 모든 것을 파헤치는 AI 인사이트, 두치입니다.\n뿌꾸: 안녕하세요, AI 전문가 뿌꾸입니다. 오늘도 흥미로운 AI 소식들로 찾아왔습니다.\",\n\"speaker1\":\"두치\",\n\"speaker2\":\"뿌꾸\"\n}\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        300,
        -160
      ],
      "id": "5756b9bb-498a-47b9-a5af-554273f8ee8e",
      "name": "대본변환"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-tts:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.conversation }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\n      \"AUDIO\"\n    ],\n    \"speechConfig\": {\n      \"multiSpeakerVoiceConfig\": {\n        \"speakerVoiceConfigs\": [\n          {\n            \"speaker\": \"{{ $json.spk1 }}\",\n            \"voiceConfig\": {\n              \"prebuiltVoiceConfig\": {\n                \"voiceName\": \"Kore\"\n              }\n            }\n          },\n          {\n            \"speaker\": \"{{ $json.spk2 }}\",\n            \"voiceConfig\": {\n              \"prebuiltVoiceConfig\": {\n                \"voiceName\": \"Alnilam\"\n              }\n            }\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        40
      ],
      "id": "07378ad6-e89b-4eb0-9287-b85b91a6c79d",
      "name": "TTS변환",
      "credentials": {
        "googlePalmApi": {
          "id": "MMpgh88Wf0gowmRS",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1POQWbhpfW8q-BEo-XK9B-slgDmVThQwj",
          "mode": "list",
          "cachedResultName": "script_study",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1POQWbhpfW8q-BEo-XK9B-slgDmVThQwj"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        -160
      ],
      "id": "5ae658d0-024e-491b-8079-2b2dc8dd0102",
      "name": "자막파일",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "J8lL23JM7UuZlYns",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        160,
        -160
      ],
      "id": "1679de17-cb1c-4197-a93d-1a5190937d33",
      "name": "읽기"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output.conversation.replace(/[\\r\\n]+/g, ' ').replace(/\"/g, \"'\");\nconst spk1 = $input.first().json.output.speaker1;\nconst spk2 = $input.first().json.output.speaker2;\n\nreturn [\n  {\n    json: {\n      conversation: text,\n      spk1: spk1,\n      spk2: spk2\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        40
      ],
      "id": "fa2aa5fc-4a84-4c68-a6af-b24be8f69f21",
      "name": "양식_교정"
    },
    {
      "parameters": {
        "jsCode": "// audioBase64 값이 있는지 체크\nconst audioBase64 = $input.first().json.candidates[0].content.parts[0].inlineData.data\n\nif (!audioBase64) {\n  throw new Error('audioBase64 데이터가 없습니다. 이전 노드의 출력 구조를 확인하세요.');\n}\n\nconst pcmData = Buffer.from(audioBase64, 'base64');\n\n// WAV 헤더 생성 함수 (생략, 기존 코드 사용)\nfunction createWavHeader(dataLength, sampleRate = 24000, channels = 1, bitsPerSample = 16) {\n  const header = Buffer.alloc(44);\n  header.write('RIFF', 0);\n  header.writeUInt32LE(36 + dataLength, 4);\n  header.write('WAVE', 8);\n  header.write('fmt ', 12);\n  header.writeUInt32LE(16, 16);\n  header.writeUInt16LE(1, 20);\n  header.writeUInt16LE(channels, 22);\n  header.writeUInt32LE(sampleRate, 24);\n  header.writeUInt32LE(sampleRate * channels * bitsPerSample / 8, 28);\n  header.writeUInt16LE(channels * bitsPerSample / 8, 32);\n  header.writeUInt16LE(bitsPerSample, 34);\n  header.write('data', 36);\n  header.writeUInt32LE(dataLength, 40);\n  return header;\n}\n\nconst wavHeader = createWavHeader(pcmData.length);\nconst wavFile = Buffer.concat([wavHeader, pcmData]);\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: wavFile,\n        mimeType: 'audio/wav',\n        fileName: 'gemini_tts.wav'\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        40
      ],
      "id": "68dffc5b-d2e1-429b-be6f-0422ed57a45d",
      "name": "파일_변환"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1_hY6OYzPuOh321PNIEBzhomAGqWKiYof",
          "mode": "list",
          "cachedResultName": "mp3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_hY6OYzPuOh321PNIEBzhomAGqWKiYof"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        300,
        40
      ],
      "id": "d72dd941-487c-4484-9b36-6ae8ba2e6dee",
      "name": "업로드",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "J8lL23JM7UuZlYns",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "다운로드": {
      "main": [
        [
          {
            "node": "읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "대본변환",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "대본변환",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "대본변환": {
      "main": [
        [
          {
            "node": "양식_교정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS변환": {
      "main": [
        [
          {
            "node": "파일_변환",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "자막파일": {
      "main": [
        [
          {
            "node": "다운로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "읽기": {
      "main": [
        [
          {
            "node": "대본변환",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "양식_교정": {
      "main": [
        [
          {
            "node": "TTS변환",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일_변환": {
      "main": [
        [
          {
            "node": "업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "036715c0-6853-4e06-ac91-470fd28aa97e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f59c0de63285a64c131184e7bec79da05901447afbe86aac036ebf3df0ced53d"
  },
  "id": "ZESAKa6GGQzLTDkd",
  "tags": []
}