contentskit/ai-services/workflow/thumnail_new.json
{
  "name": "thumnail_new",
  "nodes": [
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1KLWUbd9gai_srZdJRqoYuF1NA7Fc3y7TOlL-uXoIa8Y",
          "mode": "id"
        },
        "name": "={{ $('Google Sheets Trigger1').item.json.category }}_{{ $('Google Sheets Trigger1').item.json.title }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "=My Drive",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "1EJ-2kNnwBoqEpw6JaDnYG6N76yiQoCSG",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1320,
        140
      ],
      "id": "9c97d053-bdeb-4b3e-ad3d-cf81c3894d0e",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3Utdtx2wmPe2H1Io",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Google Sheets Trigger1').item.json.category }}",
                    "rightValue": "퀀트",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "퀀트"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "778c8235-192f-4450-a251-8bde7c8773a8",
                    "leftValue": "={{ $('Google Sheets Trigger1').item.json.category }}",
                    "rightValue": "LLM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LLM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "20a2902b-836c-48e9-8ad8-6088b55a3e99",
                    "leftValue": "={{ $('Google Sheets Trigger1').item.json.category }}",
                    "rightValue": "AIE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AIE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f95fec4f-027d-46f3-8857-7b007c3ea7e7",
                    "leftValue": "={{ $('Google Sheets Trigger1').item.json.category }}",
                    "rightValue": "밑바닥",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "밑바닥"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "45572466-161e-4587-91a6-559cd18e22b5",
                    "leftValue": "={{ $('Google Sheets Trigger1').item.json.category }}",
                    "rightValue": "=자유주제",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "자유주제"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        880,
        100
      ],
      "id": "e4ea0419-dcd5-47ba-b5ae-01e6445a3233",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "replaceText",
        "presentationId": "={{ $json.id }}",
        "textUi": {
          "textValues": [
            {
              "matchCase": true,
              "pageObjectIds": "={{ $json.pageNumber }}",
              "text": "{Title}",
              "replaceText": "={{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        1720,
        140
      ],
      "id": "833c8621-2fcb-444c-87ac-f54c9c3e3907",
      "name": "Google Slides",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "qB7Zut5HWGKJ6PNi",
          "name": "Google Slides account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2a551748-926f-411d-9e5c-b948ca1733b3",
              "leftValue": "={{ $('Google Sheets Trigger1').item.json.category }}",
              "rightValue": "={{ $('Google Sheets Trigger1').item.json.category }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1160,
        140
      ],
      "id": "9a5d9e19-2571-4a08-8495-8e653f85e3e1",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "getThumbnail",
        "presentationId": "={{ $json.presentationId }}",
        "pageObjectId": "={{ $('Code').item.json.pageNumber }}",
        "download": true
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        1880,
        140
      ],
      "id": "7aac8067-ebf6-4d98-8c29-f8936e3e70a9",
      "name": "MakingThumnail",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "qB7Zut5HWGKJ6PNi",
          "name": "Google Slides account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Google Drive').item.json.name}}.png",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1VDOtYsZTTpd3uIWs8Ou_bA7UutOD4sTR",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2020,
        140
      ],
      "id": "1a0bf48a-ea65-495c-9499-38d0383ce6e0",
      "name": "upload",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3Utdtx2wmPe2H1Io",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2160,
        140
      ],
      "id": "0ed76efa-8c93-4faa-92dd-9dd37f19955a",
      "name": "Delete",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3Utdtx2wmPe2H1Io",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 각 항목에 대해 처리\nconst result = items.map(item => {\n    // 조건에 따라 pageNumber 설정\n    if (item.json.condition === \"퀀트\") {\n        item.json.pageNumber = \"p\";\n    } else if (item.json.condition === \"LLM\") {\n        item.json.pageNumber = \"g331d0aedabf_0_0\";\n    } else if (item.json.condition === \"AIE\") {\n        item.json.pageNumber = \"g331d0aedabf_0_5\";\n    } else if (item.json.condition === \"밑바닥\") {\n        item.json.pageNumber = \"g331d0aedabf_0_22\";\n    } else if (item.json.condition === \"자유주제\") {\n        item.json.pageNumber = \"g331d0aedabf_0_15\";\n    } else {\n        item.json.pageNumber = null; // 기본값 설정\n    }\n\n    // 처리된 항목 반환\n    return item;\n});\n\n// 결과 반환\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        140
      ],
      "id": "00482f4e-df75-460a-a50c-bf74adb1eadf",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b90e1e83-c447-4179-9ebd-4dc20aef0fe0",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "d6709796-a243-4cac-8a6b-24545ef72023",
              "name": "=condition",
              "value": "={{ $('Google Sheets Trigger1').item.json.category }}",
              "type": "string"
            },
            {
              "id": "917fbd46-a489-4341-9f94-f1984c4779c6",
              "name": "title",
              "value": "={{ $('Google Sheets Trigger1').item.json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        140
      ],
      "id": "82c8b638-3fac-4c3d-bb3d-f46b97684064",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "15GPXB6elr1Q5YcZ2c-rCqQMmtIkB5tlxuEnttPE17JI",
          "mode": "list",
          "cachedResultName": "contents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15GPXB6elr1Q5YcZ2c-rCqQMmtIkB5tlxuEnttPE17JI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15GPXB6elr1Q5YcZ2c-rCqQMmtIkB5tlxuEnttPE17JI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        20,
        140
      ],
      "id": "95f3236e-c6c7-4646-bbc1-755c3c51f395",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "4JjL4czCtctxia3r",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1f5WTrxvGaCA3T3P_j50PdSXc3UfHeLFrxf5_tXf4TSE",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=\n\n---\n{{ $('Google Sheets Trigger1').item.json.textbook }}-{{ $('Google Sheets Trigger1').item.json.title }}\n\nAI와 Data를 연구하는, Study Club 입니다.\n\n- 교재: {{ $('Google Sheets Trigger1').item.json.textbook }}\n        {{ $('Google Sheets Trigger1').item.json.title }}\n- 일자 : {{ $('Google Sheets Trigger1').item.json.date }}\n- 발표자 :{{ $('Google Sheets Trigger1').item.json.lecturer }}\n- 스터디 참가 희망 요청 : [이메일](restful3@gmail.com)\n- 관련코드 : {{ $('Google Sheets Trigger1').item.json.code }}\n\n{{ $json.output.hashtags[0] }}{{ $json.output.hashtags[1] }}{{ $json.output.hashtags[2] }}{{ $json.output.hashtags[3] }}{{ $json.output.hashtags[4] }}\n\n---"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        720,
        140
      ],
      "id": "32cad094-898c-40c3-905d-77454a761455",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "U9ZObw4KjPO8sXbL",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 유튜브 본문 및 썸네일 업데이트\n- 스터디를 진행하며, 썸네일 및 본문을 자동화하기 위한 플로우 입니다.\n- 구글시트가 업데이트 되면 \n- 구글다큐먼트에는 본문이 시트를 참고하여 업데이트 됩니다.\n- 시트의 내용에 맞춰서 미리 준비된 구글슬라이드에서 썸네일을 업데이트하여 생성합니다.",
        "height": 540,
        "width": 2360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        -160
      ],
      "typeVersion": 1,
      "id": "2d3381e8-96d7-4a22-965f-12551d82950b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 본문업데이트\n- GPT로 해시테그를 붙여줍니다.",
        "height": 340,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        20
      ],
      "typeVersion": 1,
      "id": "dce2c82f-6434-49ca-88fc-658fce8cf356",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 주제에 따라 썸네일을 라우팅\n- 라우팅 후 필터링하여 각 주제별로 작업을 도와줍니다.",
        "height": 340,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        20
      ],
      "typeVersion": 1,
      "id": "0c7d19b9-25dc-48c4-b121-e0bd12cf7de1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 각 페이지를 찾아서 내용을 업데이트",
        "height": 340,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1160,
        20
      ],
      "typeVersion": 1,
      "id": "c0fe4910-8689-4bc8-a4aa-d5a1dd3dfdd3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 썸네일 저장 마무리 후 슬라이드 삭제",
        "height": 340,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        20
      ],
      "typeVersion": 1,
      "id": "81b54491-a49c-4fdc-ae29-7ff6cbdeb35a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "text": "=You are a professional YouTube creator and a competent marketer. Please create 5 hashtags that can increase SEO with the corresponding {{ $json.category }}, {{ $json.textbook }} and {{ $json.title }}. make hashtag in korean",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n\t\"category\": \"California\",\n\t\"hashtags\": [\"Los Angeles\", \"San Francisco\", \"San Diego\"]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        340,
        140
      ],
      "id": "caa8765f-7f46-4625-b519-c21a79935f9b",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        280,
        280
      ],
      "id": "03255c2b-a026-49e1-ab14-b9bf2f77dcc1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kPgOD9ypLtV0EoEb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9552c738-66a8-4072-ad80-a6ac3dbd4fe6",
              "leftValue": "={{ $json.check.toString() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        180,
        140
      ],
      "id": "f1e6c89d-839f-4664-a53c-3a107c81666f",
      "name": "Filter1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Slides": {
      "main": [
        [
          {
            "node": "MakingThumnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MakingThumnail": {
      "main": [
        [
          {
            "node": "upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload": {
      "main": [
        [
          {
            "node": "Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ce5ccd4-09d5-4eec-baa4-d463865a9062",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a849cb843a473529a27839165628366f08916a84f4070c826da4ef850789469c"
  },
  "id": "LLRK1vUsIiWvI123",
  "tags": []
}